.front-img {
	width:60%;
	min-height:100px;
	margin: 0 auto;
	border-radius: 10px;
	border: 1px solid black;
}
.img1 {
	border:1px solid black;
	border-radius: 10px;
}
.img2 {
	border:1px solid black;
	border-radius: 10px;
}
.container:nth-child(1) {
	margin-left: 10px;
}

.categories li{
	border-radius: 10px;
	font-color: #FFFFFF;
}

.img2 {
	left: 100px;

}

* {
	font-family: tahoma;
	color:black;
}
.container1 {
    position: relative;
    overflow: hidden;
}
div::after {
  content: "";
  background: url(https://dff2h0hbfv6w4.cloudfront.net/images/backgrounds/nba.jpg);
  position: absolute;
  display:block;
  opacity: 0.39;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;   
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
